html, body {
    height: 100%;
    width: 100%;
  }
  
  textarea{
    width: 250px;
    height:50px;
    margin-bottom: 20px;
    resize: none;
  }
  
  #qrcode{
    background: transparent;
    width: 250px;
  }
  
  #qrcode img{
    box-shadow: 10px 10px 30px black;
  }